body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #C2F2ED;
  color: #0B5A5E;
}
h1 {
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
}
p {
  width: 90%;
  /*max-width: 500px;*/
}
input, textarea, .output {
  width: 90%;
  /*max-width: 500px;*/
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #DFF5F2;
  color: #0B5A5E;
  border: 1px solid #0B5A5E;
  font-family: 'Fira Code', monospace;
}
textarea {
  resize: vertical;
  min-height: 100px;
}
.output {
  height: auto;
  background-color: #DFF5F2;
  font-family: 'Fira Code', monospace;
}
mark {
  color: #000;
}
.insertion {
  background-color: #3ad27a;
}
.deletion {
  background-color: #ff7b7b;
}
.delta {
  background-color: #ffaa64;
}
footer {
  margin-top: 40px;
  font-weight: bold;
  width: 90%;
  max-width: 600px;
  background-color: #A8E6CF;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.not-found {
  text-decoration: underline red;
}
.disabled-btn {
  filter: grayscale(100%);
  cursor: not-allowed;
  opacity: 0.6;
}